@import url("fonts.css");
body
{
    background: url("../images/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
h1
{
    color: black;
    text-align: center;
    font-family: Zeyada;
}
input
{
    width: 300px;
    height: 35px;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: black;
    align-content: center;
    border: none;
    color: white;
}
.submit 
{
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    background-color: #ff1919;
    color: white;
}
img
{  
    width: 180px;
    height: 60px;
    text-align: center;
    margin-top: 30px;
}
.img
{
    width: 800px;
    height: 800px;
    color: #0093b8;
}
.centered 
{
    background-color: black;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered2 
{
    background-color: white;
    width: 450px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
table
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
td
{
    color: black;
}
.signup
{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
form 
{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 12px;
}
.forgot
{
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
